
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin :0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;

}


/* NAV STYLES */

nav{
 
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
  padding: 30px;
}

.nav-logo-section{

     display: flex;
     gap: 10px;
     align-items: center;}

     .nav-logo{
        width: 3.125rem;
        height: 1.8rem;
    }
    

    .nav-title{
        text-align: center;
    font-size: 2.81rem;
    font-weight: 700;
    color: #0B0223;
    
    }

    
.gamer{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.nav-a-container{
    display: flex;
    justify-content: space-around;
    gap: 1.25px;
    align-items: center;
    gap: 20px;
 
}

nav a {
    text-decoration: none;
    color: #3C354F;
text-align: center;
font-size: 1.125rem;
font-weight: 500;

}


.youtube{
    color: red;
}
.tiktok{
    color: black;
}
.nav-a-div{
    border-radius: 0.5rem;
background: rgba(11, 2, 35, 0.10);
width: 13.75rem;
height: 3rem;
align-items: center;
justify-content: space-evenly;
display: flex;

}


/* BANNER SECTION STYLES */

.banner-section-container{
    display: flex;
    gap: 3.125rem;
    padding-bottom: 70px;
}


    .banner-section-column-1{
      width: 700px;
       background-color: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);

      }

      .banner-h3{
        color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 10.65rem;
padding-bottom: 1.5rem;
    
    }

    .banner-h1{
        text-align: center;
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 1.2rem;
    }

    .banner-p{
        color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    padding-left: 6.5rem;}

    .banner-btn-div{
        padding-left: 6rem;
        padding-top: 15px;
    }
    
    .banner-btn-1,.banner-btn-2{
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-flex;
    padding: 1.27rem 2.5rem;
    align-items: flex-start;
    gap: 0.625rem;
    border: none;
    
    border-radius: 3rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    }

    .banner-btn-2{
 
        background: #4EC5F7;
        }
        
        
        .banner-section-column-2{
       
            padding-top: 6.25rem;
           padding-right: 3.125rem;
        }

/* Main SECTION 1 STYLES*/

.main-section-1-h3{
    color: #0B0223;
text-align: center;
font-size: 3rem;
font-weight: 700;

 }

 .online-game{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 3rem;
font-weight: 700;
}


.main-section-1-p{
    color: #534C64;
text-align: center;
font-size: 1.124rem;
font-weight: 400;
line-height: 1.87rem;  
padding-bottom: 30px;
padding-top: 20px;
}

.main-section-1-column{
    text-align: start;
border-radius: 1rem;

justify-content: center;

}

.main-section-1-column-container{
    
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1.25rem;
      
  }

  .main-section-1-column img{
    width:15.5rem;
display: block;}



    .main-section-1-column{
        text-align: start;
    border-radius: 1rem;
    width: 15.625rem;
    justify-content: center;}
    

    .main-section-1-column p{
        color: #534C64;
    text-align: center;
    font-size: 1.124rem;
    font-weight: 400;
    line-height: 1.87rem; }

    .main-section-1{
        padding-bottom: 50px;
    }

    
/* MAIN SECTION 2 STYLES */

.main-section-2-h1{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: right;
}
        

.play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.main-section-2-p{
    color: #534C64;
text-align: right;
font-size: 1.2rem;
font-weight: 400;
line-height: 30px;
width: 330px;
}

.main-section-2-column-container{
    display: flex;
    justify-content: center;
    align-items: center;
padding: 100px;
gap: 200px;

}

.main-section-2-column-2{
    height: 500px;
width:500px;
}

.img-1{
    height: 100%;
    width: 100%;
}

.img-2{
    height: 50%;
    position: relative;
    bottom: 200px;
    right: 100px;
}



.angel-img img{
    width: 10rem;
}

/* SECTION 3 STYLES */

.section-3-box{
    display: flex;
    width: 12.5rem;
height: 5.625rem;
border-radius: 50px;
background: #FFF;

}

.section-3-box img{
    width: 60px;
height: 60px;
border-radius: 50px;
}

.section-3-box p{
    color: #0B0223;
font-size: 20px;
font-weight: 600;
}

.section-3-box:hover{
     border: 2px solid #FF42A5;
 }

 .section-3-box-container{

    display: flex;
    flex-wrap: wrap;
     justify-content: center;
     align-items: center;
  gap: 30px;}


     .section-3{
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
    padding-bottom: 100px;
padding-top: 80px;}

    footer{
      
         padding-top:50px;
          background-color: #0B0223;
      }

      .footer-logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
       
    }

    .footer-title{
        color: #FFF;
    font-size: 2.9125rem;
    font-weight: 700;
    
    }

    .game{
        background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    .footer-logo-container img{
        width: 50px;
        height: 30px;
    }

    .footer-2nd-div a, .footer-4th-div a{
    
        text-decoration: none;
     color: #FFF;
     }

     .footer-2nd-div{
        display: flex;
        justify-content: center;
        gap: 100px;
        align-items: center;
        padding-top: 50px;
        color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    }

    .footer-logos{
        width: 6.25rem;
        height: 1.875rem;
        
        color: #FFF;
        }
        
        .footer-3rd-div{
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
        }

        .footer-4th-div{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 50px;
            gap: 30px;
        }

        .footer-p{
            color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        padding-top: 50px;
        padding-bottom: 50px;
        }



        /* RESPONSIVE FOR MOBILE */


@media screen and (max-width: 576px){

    nav{
        flex-direction: column;
        align-items: center;
    }
    .nav-logo{
        width: auto;
    }
    .nav-title{
        font-size: 1.5rem;
    }
    .nav-logo-section{
   padding-bottom: 10px;
    }
    .nav-a-container{
        flex-direction: column;
        align-items: center;
    }



/*Banner Section*/

.banner-section-container{
    flex-direction:column-reverse;
    align-items: center;
}


.banner-section-column-1{
width: 100%;
padding-top: 0;
;
}

.banner-p{
    padding-left: 0px;
}

.banner-section-column-1{
    width: 200px;
}
.banner-h3{
    font-size: 1.6rem;
    padding-top: 5rem;
}
.banner-h1{
    font-size: 3rem;
    padding-bottom: 4px;
}

.banner-p{
    font-size: 1rem;
    padding-left: 10px;
}
.banner-btn-div{
    padding-left: 10px;
}

.banner-btn-1,.banner-btn-2{
    font-size: 0.6rem;
   
    padding:0.5rem;
}

.banner-section-column-2 img{
    width: 200px;
    
}
.banner-section-column-2{
    width:40%;
    padding: 0;
    margin: 0;
    height: 110px;
}


/* MAIN  SECTION 1*/


.main-section-1-column-container{
flex-direction: column;
row-gap: 40px;
align-items: center;
column-gap: 0;
}

.main-section-1-h3,.online-game{
    font-size: 0.8rem;

  
}

.main-section-1-p{
    font-size: .35rem;
    padding-bottom: 15px;
    padding-top: 5px;
}


.main-section-1-column img{
    width:150px;}

    .main-section-1-column p{
        font-size: 10px;
    }

    .main-section-1-column{
        width: 40%;
        height: 200px;
        
        padding: 0;
    }

    .main-section-1{
        padding: 0;
    }
/*MAIN SECTION 2*/

.main-section-2-column-container{
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.main-section-2-column-1{
   text-align: center;
   width: 200px;
}
.main-section-2-column-2{
    height: 150px;
width:150px;
}

.img-2{
    height: 50%;
    position: relative;
    bottom:70px;
    right: 40px;
}
.angel-img img{
    width: 100px;
}



.main-section-2-h1{
    font-size: 1rem;
    padding-bottom: 4px;
    text-align: center;
}

.main-section-2-p{
    font-size: .5rem;
    text-align: center;
   
   width: 200px;
}


/*MAIN SECTION 3 */


.section-3-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
height: 4rem;
border-radius: 50px;
}

.section-3-box img{
    width: 40px;
height: 40px;
border-radius: 50px;
}

.section-3-box p{
    color: #0B0223;
font-size: 10px;
font-weight: 600;
}

.section-3-box-container{
padding: 0;

    
.section-3{
    padding: 0;
    margin: 0;
}
  }


  /*FOOTER SECTION */
  .footer-2nd-div{
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    column-gap: 0;
    row-gap: 20px;
    font-size: 0.8rem;
  }

  .footer-logo-container img{
    width: 30px;
    height: 20px;
}

.footer-title{
    font-size: 1.5rem;
}


.footer-logos{
    width: 2rem;
}

.footer-4th-div{

    display: flex;
    flex-wrap: wrap;
font-size: 0.7rem;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}

.footer-p{
    font-size: 0.4rem;
}

}
/*RESPONSIVE FOR TABLET*/


@media screen and (min-width: 576px) and (max-width: 960px){


   
    .banner-btn-div{
        padding-left: 50px;
    }

    .banner-section-column-2 img{
        width: 300px;}
        

        .banner-btn-1,.banner-btn-2{
            font-size: 1rem;
        }
        .main-section-1-column-container{
            flex-direction: column;
            align-items: center;
            column-gap: 0;
            }

            .main-section-2-column-2{
                height: 500px;
            width:600px;
            }
    

            .footer-2nd-div{
                display: grid;
                grid-template-columns: repeat(3,0.5fr);
                column-gap: 0;
                row-gap: 20px;
                font-size: 0.8rem;
              }

              .footer-p{
                font-size: 0.6rem;
              }
}